Configuration/Ext/ParentConfigurations/*.cf
bit-finance/Reports/РегламентированныйОтчетСтатистикаФорма1ТОРГ/Templates/Списки2021Кв1/Ext/Template.xml
bit-finance/Reports/РегламентированныйОтчетСтатистикаФорма1Услуги/Templates/Списки2021Кв1/Ext/Template.xml
bit-finance/Reports/РегламентированныйОтчетСтатистикаФорма1ЦеныПроизв/Templates/Списки2021Кв1/Ext/Template.xml
bit-finance/Reports/РегламентированныйОтчетСтатистикаФорма1ЦеныПроизв/Templates/Списки2023Кв1/Ext/Template.xml
bit-finance/Reports/РегламентированныйОтчетСтатистикаФорма1ЦеныПроизв/Templates/Списки2022Кв1/Ext/Template.xml
bit-finance/CommonTemplates/ДрайверАТОЛККТ54Ф3107X_ru/Ext/Template.bin
bit-finance/CommonTemplates/ДрайверМассаКЭлектронныеВесыСПечатьюЭтикеток_ru/Ext/Template.bin
bit-finance/CommonTemplates/ДрайверАТОЛККТ54Ф310ХФД12X_ru/Ext/Template.bin
bit-finance/CommonTemplates/ДрайверАТОЛККТ54Ф310ХФД12_ru/Ext/Template.bin
